body {

    margin: 0;
    padding: 0;
    background:#000000;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}


nav {

    text-align: center;
}

nav h1{

     font-family: 'Raleway Medium', sans-serif;
    font-size: 50px;
}


.bg-hero {

    width: 100%;
}

.bg-hero img {

    width: 100%;
}

.informacion {

    width: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;

}

span {
    text-align: justify;
    padding: 2%;
    width: 80%;
    font-family: 'Raleway Light', sans-serif;
    font-size: 16px;
}
.informacion div{

    display: inline-block;
    width: 40%;
    text-align: justify;
    vertical-align: top;
}

.informacion section{

    display: inline-block;
    width: 40%;
}

.informacion section img{ 
    width: 80%;
}

.caracteristicas {
text-align: center;
background:#1e1a13;
padding-left: 4%;
padding-top: 4%;
padding-bottom: 4%;
}

.caracteristicas h1 {
padding-bottom: 35px;
     font-family: 'Raleway Medium', sans-serif;
    font-size: 40px;
}

.caracteristicas section {
display: inline-block;
text-align: center;
margin-right: 2%;
padding-left: 70px;
padding-right: 70px;
}

.tipo-iguanas {
    height: 240px;
    width: 100%;
    text-align: center;
    padding-top: 73px;
    padding-bottom: 73px;

    display: inline-block;

}

.tipo-iguanas section {
display: inline-block;
}

.tipo-iguanas section img{
    display: inline-block;
    height: 202px;
    width: 316px;
    padding: 16px;

}

footer {

    font-family: 'Raleway Light', sans-serif;
    font-size: 20px;
}


h3 {

    font-family: 'Raleway Light', sans-serif;
    font-size: 25px;
    opacity: 1;

}








