* {
    scroll-behavior: smooth;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color:white;
}

nav { 
    background:green;
}

.col-12 {
 padding-right: 0;
 padding-left: 0;

}

#Principal {
    margin: 3.5em auto 0 auto;
}
.hero-section {
        text-align: center;
        background-image: url('../img/img-principal.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: #ffffff;
        text-shadow: 0.125em 0.25em 0.125em #707070;
        padding: 9.25rem 3.125rem;

    }

    #texto-principal {
        margin-bottom: -3.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;

    }

    .texto-sobremi {
            padding-left: 10%;
            padding-right: 10%;
}

#texto-sobremi span {
    display:block;
    text-align:center;
}

#texto-sobremi hr{
    width: 150px;
    border-top: 3px solid rgb(0, 0, 0);

}

#mas-sobremi {
    padding-left: 10%;
    padding-right: 10%;
    text-justify: auto;
    text-align: justify;
}

.blog .carousel-indicators li {
        background: #a3a3a3;
        border-radius: 100%;
        width: 20px;
        height: 8px;
}

.carousel {
    padding-bottom: 25px;
}

.card {
    height: 400px;
    margin-top: 30px;
    font-size: 1.5em;
}

.card img {
    height: 90%;
    width: 89%;
    margin: auto;
}

.card-carrusel {

    height: 380px;
    font-size: 1.5em;

}

.card-carrusel img {

    height: 200px;

}

.card-title{
    text-align: center;
}

.carousel-indicators {
    
    top: 428px;

}

#trabajos {
    background: green;;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 768px) {
  #experiencia {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .card {
    height: 305px;

    }

    .trabajos .card {
        height: 225px;
    }

    .card-carrusel img {
    height: 110px;
    }

    .carousel-indicators {
    top: 340px;
}
}
@media only screen and (max-width: 767px) {
  .trabajos .card {
    height: 380px;

    }

    .card img {
    height: 79%;

    }
}

@media only screen and (max-width: 400px) {
  .trabajos .card {
    height: 260px;

    }

      .trabajos .card img{
    
    height: 220px;

    }
}

.form-contacto {

    text-align: center;
}

.navbar-brand {
    font-weight: 700;
}

footer {
    background:green;
    text-align: center;
}

i {
    color:white;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 13px;
}

#nombre-footer { 
    font-family: 'Tomorrow', sans-serif;
    color:white;
    font-weight: 700;
    font-size: 50px;
    margin-right: 16px;
    margin-left: 16px;
}

.card-body{
    text-align: center;
}